@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
p {
  @apply mb-4;
}

a {
  @apply text-blue-800 hover:text-blue-950 transition-colors duration-300 ease-in;
}

.dark a {
  @apply text-blue-400 hover:text-blue-500;
}
.dark .navigation-bar a {
  @apply text-white hover:text-black;
}

a.active,
.dark a.active {
  @apply text-black;
}

.animated-colors {
  background-image: linear-gradient(
    68.9deg,
    rgb(144, 60, 240) 46.3%,
    rgb(235, 88, 84) 94.8%
  );
  background-size: 500% 500%;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: AnimateBGGradient;
}

@keyframes AnimateBGGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.link-list li {
  @apply mb-1;
}

.link-list li::before {
  content: "▴"; /* Custom bullet symbol */
  @apply mr-3;
  display: inline-block; /* Align bullet with text */
}
